.home-section {
    max-width: 800px;
    padding: 5px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.home-section-container {
    background-color: rgba(193, 189, 189, 0.336);
    border-radius: 8px;
    margin-bottom: 5px;
    padding: 20px;
}

.home-main {
    padding: 40px;
    background-color: #f4f6f8;
    min-height: 100vh;
}