.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eae7e7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recomendation-list {
  list-style-type: none;
  padding: 0;
}

.recomendation {
  margin-bottom: 8px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;

}